*{
box-sizing: border-box;
}

/* Here im using Grid to align the card at the center */
body {
  background-color: hsl(233, 47%, 7%);
  color: white;
  font-size: 15px;
 display: grid;
 place-items: center;
  min-height: 100vh;
  line-height: 1.5;
}

/* This is the main container that controls the card */
.container{
width: 80%;
max-width: 600px;
display: flex;
flex-direction: column-reverse;
background-color: hsl(244, 38%, 16%);
text-align: center;
border-radius: 3%;
}
.container :nth-child(1){
   order: 1;
   }
.container :nth-child(3){
   order: 1; 
  }

/* Here im calling "img" cause for some reason the class didnt work */
img{
width: 100%;
object-fit: cover;
border-top-left-radius: 3%;
border-top-right-radius: 3%;
mix-blend-mode: soft-light;
}

/* This is an overlay class i made, pretty proud of the inset trick :) */
.overlay{
border-top-left-radius: 3%;
border-top-right-radius: 3%;
box-shadow: inset 1000px 0 0 0 hsla(277, 64%, 61%, 0.7);
}

.item1{
order: 1;
line-height: 1;
font-family: lexend deca;
padding: 20px;
font-weight: 700;
}

.item2{
font-family: inter;
font-size: 15px;
padding: 10px;
margin-top: -20px;
font-weight: 400;
color: hsla(0, 0%, 100%, 0.6);
}

.list-items,.list-items2{
list-style-type: none;
margin-right: 30px;
}

.list-items{
font-family: lexend deca;
font-size: 25px;
font-weight: 700;
}

.list-items2{
font-family: inter;
font-size: 12px;
font-weight: 200;
color: hsla(0, 0%, 100%, 0.6);
}

footer{
font-family: lexend deca;
}
footer > a{
text-decoration: none;
color:hsl(277, 64%, 61%);
font-size: 16px;
}

/* Here is the desktop view media querie */
@media only screen and (min-width: 1024px) {
.container{
flex-direction: row;
max-width: 1000px;
height: 390px;
}
.container :nth-child(1){
   order: 1;
   }
.container :nth-child(2){
   order: 1; 
  }

img{
height: 100%;
min-width: 100%;
margin-left: 0px;
}

.overlay{
margin-left: 0%;
border-top-left-radius: 0%;
border-bottom-right-radius: 3%;
}

.lists{
max-width: 100%;
margin-top:auto;
margin-left: -400px;
display: inline-flex;
margin-right: 50px;
margin-top: 260px;
}

.item1{
width: 420px;
margin-left: 14%;
text-align: left;
}

.item2{
margin-left: 16%;
width: 370px;
text-align: left;
 }
}